<div class="container">
    <div class="row">
        <div class="col-lg-12">
          <p class="timeout-lbl">Time-out</p>
        </div>
        <div class="col-lg-12">
          <div class="btn-group btn-group-toggle btn-group-size" data-toggle="buttons">
            <div class="row">
              <div class="col-lg-4">
                <label class="btn btn-secondary">
                  <input type="radio" name="options" id="option1">
                </label>
              </div>
              <div class="col-lg-4">
                <label class="btn btn-secondary">
                  <input type="radio" name="options" id="option2">
                </label>
              </div>
              <div class="col-lg-4">
                <label class="btn btn-secondary">
                  <input type="radio" name="options" id="option3">
                </label>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
