.timeout-cont {
    margin: 0 0 2% 15%;

    .timeout-lbl {
        margin: 15% auto 0;
        text-align: center;
    }
    
}


.btn-secondary {
    border-radius: 100% !important;
    margin: 0 5% 0;
}
