
.col {
    margin: 5% 0 5%;
}

.period {
    background-color: black;
    margin: 0 auto;
    min-width: 100%;
    max-width: 20% !important;
    border-radius: 10px;

    .quarter-value {
        color: red;
        margin: 0 auto;
        font-size: 3em;
        font-weight: 900;
        font-family: Verdana, Geneva, sans-serif;
    }
}

.period-lbl {
    margin: 5% auto 0;
}

.timer {
    background-color: black;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    min-width: 70px;
    border-radius: 10px;

    .timer-value {
        color: red;
        font-size: 5em;
        margin-bottom: 0;
        font-weight: 900;
        font-family: Verdana, Geneva, sans-serif;
    }
}


.ms-cont {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

.btn-cont {
    margin: 5% 0 ;
    display: flex;
    align-items: center;
}

