<div class="container">
  <div class="ftpa-cont">
    <div class="row">
      <div class="col-lg-2">
        <app-fouls></app-fouls>
      </div>
      <div class="col-lg-3">
        <app-timeout></app-timeout>
      </div>
      <div class="col-lg-2">
        <p class="period-lbl">Period</p>
        <div class="period">
          <p class="lead quarter-value">{{quarter}}</p>
        </div>
      </div>
      <div class="col-lg-3">
        <app-timeout></app-timeout>
      </div>
      <div class="col-lg-2">
        <app-fouls></app-fouls>
      </div>
    </div>
  </div>
  <div class="row" (click)="onToggle()">
    <div class="col-sm timer">
      <p class="lead timer-value">
        <ng-container *ngIf="intervalObs$ | async as clock; else default">
          {{clock | timeFormat}}
        </ng-container>
        <ng-template #default>00:00</ng-template>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm ms-cont">
      <app-input-to-timer [hidden]="isHidden"></app-input-to-timer>
    </div>
  </div>
  <div class="row">
    <div class="col-sm btn-cont">
      <button #start type="button" class="btn btn-success">Start</button>
      <button #pause type="button" class="btn btn-warning">Pause</button>
      <button #reset type="button" class="btn btn-danger">Stop</button>
    </div>
  </div>
</div>