
.score-cont {
    text-align: center;
    background-color:  black;
    border-radius: 10px;
    
    .score {
        text-align: center;
        font-size: 100px;
        margin: 0 auto 0;
        color: red;
        font-weight: 900;
        font-family: Verdana, Geneva, sans-serif;
    }
}

.score-lbl {
    text-align: center;
}

.score-amend {
    text-align: center;
    width: 10%;
}

