.jumbotron {
    text-align: center;
}

.score-lbl {
    text-align: center;
}

.score {
    text-align: center;
    font-size: 100px;
    margin: 0 auto 0;
}

.score-amend {
    margin: 0 auto;
    text-align: center;
}