<div class="jumbotron">
  <p class="display-2 score-lbl">{{teamName}}</p>
  <p class="display-4 score">{{score}}</p>
  <div class="input-group mb-3">
    <div class="input-group-prepend score-amend">
    <input type="text" class="form-control" placeholder="insert correct score" [(ngModel)]="score">
  </div>
  <hr class="my-4">
  <button type="button" class="btn btn-primary btn-lg">Large button</button>
  <button type="button" class="btn btn-primary btn-lg">Large button</button>
  <button type="button" class="btn btn-primary btn-lg">Large button</button>
</div>
