
svg {
  margin-top: 50%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.bi-caret-left-fill {
  cursor: pointer;
}

.bi-caret-right-fill {
  cursor: pointer;
}
