<div class="container">
  <div class="jumbotron my-heading">
    <h1 class="display-4">Game Time!</h1>
  </div>
</div>
<div class="container body-content">
  <div class="row">
    <div class="col-sm">
      <input type="text" class="form-control" placeholder="insert team name" [(ngModel)]="nameOne">
      <app-score *ngIf="nameOne !== ''" [teamName]="nameOne"></app-score>
    </div>
    <div class="col-sm">
      <app-timer></app-timer>
    </div>
    <div class="col-sm">
      <input type="text" class="form-control" placeholder="insert team name" [(ngModel)]="nameTwo">
      <app-score *ngIf="nameTwo !== ''" [teamName]="nameTwo"></app-score>
    </div>
  </div>
</div>