<p class="display-2 score-lbl">{{teamName}}</p>
<div class="container score-cont">
  <p class="display-4 score">
    <ng-container *ngIf="totalScore > 0; else default">
      {{totalScore}}
    </ng-container>
    <ng-template #default>0</ng-template>
  </p>
</div>
<div class="input-group mb-3">
  <input type="number" class="form-control score-amend" aria-label="correct score" aria-describedby="button-addon2" [(ngModel)]="totalScore">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">▼</button>
  </div>
</div>
